<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>

    <title>Distracted Reindeer</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="/styles/reset.css">

  </head>
  <body>
  <!-- the app is rendered into this div -->
    <div id="app"></div>

    <div class="footer">
    </div>

    <script type="text/javascript" src='js/jquery.min.js'></script>
    <script type="text/javascript" src="http://localhost:8080/assets/js/bundle.js"></script>

   <!-- <script type="text/javascript" src="/js/bundle.js"></script> -->
  </body>
</html>
