body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
.mainLogo{
	height: 40px;
}
.btn-fb {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-color: #FFFFFF;
}
.hero{
  top: 0px;
  height: 800px;
  color: white;
  padding-top: 300px;
  background-image: url(../images/home_10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  width: 100%;    
}
.navbar{
	margin-bottom:0px;
}
.navbar_landing{
	margin-bottom:0px;
	background-color: rgba(248, 248, 248, 0);
	z-index: 100;
  	margin-bottom: 0px;
  	border-bottom: solid 1px;
  	border-top: none;
  	border-right: none;
  	border-left: none;
  	border-color: #FFFFFF;

}
.navbar-brand {
	padding: 3px;
}
.headline{
	font-size: 400%;
}
.fbButton{
	background-color: #525252;
  	border-color: #FFFFFF;
  	width:30%;
}
.userBlock{
	float: right;
	margin-top: 6px;
}
.profileContainer{
	padding:30px;
}
